
/* Row 1 */
/*div.css-1r6slb0.esravye1*/
table.dataframe.table.table-striped th {
    text-align: center;
}

table.dataframe.table.table-striped
/*div.css-1bzkvni.esravye1/*
    /*background-color: #FFFFFF;*/
/* border: 1px solid #CCCCCC;*/ {
    border: 1px solid #DCDCDC;
    background-color: #EEEEEE;
    padding: 1% 6% 6% 6%;
    border-radius: 10px;
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.10rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    width: 110%;
    /* Center /* Center the text in the header of the table */
}

/* This styles the Execution Summary data in row 1 column2 on the home page*/

/*div.st-emotion-cache-1bzkvni.e1f1d6gn1*/
div data-testid="column" css-1bzkvni esravye1
/*div.css-j5r0tf.esravye1 */
[data.testid="column"{
    /*background-color: #FFFFFF;*/
    /* border: 1px solid #CCCCCC;*/
    border: 1px solid #DCDCDC;
    background-color: #EEEEEE;
    padding: 2% 2% 8% 0%;
    border-radius: 10px;
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.10rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    height: 500%;
}






[data-testid="stSidebar"] > div:first-child {{
    background-image: url("data:image/jpg;base64,{img}");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}}





/*
./images/DeltaPacific_Logo.jpg"   

*/
